<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        The following weather application was created using geocoding (Mapbox) to find the longitude and latitude for a location entered and weatherstack to find the relevant weather.
    </div>
    
    {{>footer}}
</body>

</html>